table,tr,td,th{
	border:1px solid black;
}
th{
	background:crimson;
}
/*th, td {
  padding: 10px;
}*/
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
/* Your CSS Code here. */